doctype
html(lang='pt-br')
	head
		meta(charset='utf-8')
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="CSS/mainStyle.css")
		title Hello Calang
	body
		header 
			h1 HELLO WOLRD
			h1 do Calang.io
		main 
			a(href="./cadastro") CADASTRO USUARIO
			a(href="./busca") BUSCA POR CADASTRO
			a(href="./excluir") EXCLUIR CADASTRO
		script(type="text/javascript").
			window.alert("CALANGO DELETADO")