/*						*/
/*		ELEMENTOS   	*/
/*						*/

body{
	display: grid;
	text-align: center;
}

header{
	display: grid;
	text-align: center;

}

main{
	display: grid;
	margin: auto;
}

div{
	display: flex;
	padding: .5em;

}

a{
	margin: 1em;
	padding: .5em;
	width: 20em;
	height: 1em;
	border: 0.1em;
	border-radius: 0.2em;
	box-shadow: black 0.1em 0.1em 0.2em ;
}

form{
	display: grid;
	text-align: left;
}
label{
	width: 10em;
}

input{
	height: 1.5em;
	width: 20em;
	padding: .2em 1em .1em 1em;
	margin: 1em;
	text-align: left;
	border: .1em;
	border-style: solid;
	border-radius: .3em;
	box-shadow: green .2em .2em .1em;
}

select{
	background-color: lightgrey;
	height: 2em;
	width: 7em;
	padding: .2em 1em .1em 1em;
	margin: 1em;
	text-align: left;
	border: .1em;
	border-style: solid;
	border-radius: .3em;
	box-shadow: green .2em .2em .1em;
}

button{
	padding: 1em;
	height: 1em;
	width: 5em;
	border-radius: .2em;
}

table{
	display: grid;
	width: 100%;
	border-style: solid;
	border: 5em;
}

tr{
	display: flex;
	background-color: rgba(235,235,235, 1);
	width: 100%;
	height: 1.5em;
	border-style: solid;
	border: 5em;
}

tr:nth-child(odd){
	background-color: white;
}

th{
	display: flex;
	width: 10em;
	height: auto;
	text-align: left;
	border: .1em solid black;

}
/*							*/
/*			CLASSES			*/
/*							*/

.goBack_CLASS{
	padding: 0;
	margin: .1em .1em .1em .5em;
	height: 1em;
	width: 1em;
	font-size: 5em;
	box-shadow: 0 0	0;
}

.submitBtn_CLASS{
	width: 100%;
	text-align: center;
	height: 2.5em;
	font-size: 1em;
}

/*							*/
/*			  ID's			*/
/*							*/

form#formBusca_ID{
	display: flex;
	margin-left: 25%;

}

input#submit_Bsca_ID{
	background-color: lightgrey;
	height: 2em;
	width: 7em;
	padding: .2em 1em .1em 1em;
	margin: 1em;
	text-align: left;
	border: .1em;
	border-style: solid;
	border-radius: .3em;
	box-shadow: green .2em .2em .1em;
}

body#ullnotp_BODY_ID{
	background-image: url("../Images/Fussmatte_Gandalf_01.jpg");
	background-repeat: no-repeat;
	background-size: 100% 500%;
}

div#gandalf_ID{
	position: fixed;
	z-index: -1;
	max-width: 100%;
	max-height: 100%;
	padding-left: 15%;
}